body {
    margin: 0;
    font-family: Myriad Pro, sans-serif;
}
body * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.game.sliced {
    background-image: url(images/background.png);
}

.canvas {
    position: relative;
    width: 300px;
    box-sizing: border-box;
    height: 300px;
    margin: auto auto;
    transition: opacity 1s;
    border-radius: 20px;
}
.item-photo {
    position: relative;
    pointer-events: none;
    width: 330px;
    left: 0;
    height: 330px;
    display: flex;
    justify-content: center;
    margin-left: -25px;
    margin-top: -25px;
}
.item-photo img {
    max-width: 100%;
    max-height: 100%;
}

.flying-price {
    background: url(images/smile-negative.png) no-repeat;
    background-size: cover;
    width: 110px;
    height: 110px;
    content: "";

    position: absolute;
    box-sizing: border-box;
    left: 100px;
    top: 100px;

    padding-top: 83px;
    text-align: center;
    /*color: #222;*/
    color: white;

    z-index: 940;
    transition: opacity 1s;
}
.flying-price.fly-animated {
    animation: topChange 3s infinite, leftChange 3s infinite, rotation 3s infinite;
    -webkit-animation: topChange1 3s infinite, leftChange1 3s infinite, rotation1 3s infinite;
}
.final-price-label {
    display: block;
    position: absolute;
    left: 15%;
    width: 60%;
    text-align: center;
    /*height: 100%;*/
    /*line-height: 180px;*/
    font-size: 23px;
    top: 77%;
    color: white;
    font-weight: lighter;
    /*vertical-align: middle;*/
}
.flying-price.chosen {
    background: red;
}
@keyframes topChange {
    0% {
        top: 70%;
    }
    38% {
        top: 0%;
    }
    100% {
        top: 70%;
    }
}
@keyframes leftChange {
    0% {
        left: -10%;
    }
    100% {
        left: 75%;
    }
}
@keyframes rotation {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}

@-webkit-keyframes topChange1 {
    0% {
        top: 70%;
    }
    38% {
        top: 0%;
    }
    100% {
        top: 70%;
    }
}
@-webkit-keyframes leftChange1 {
    0% {
        left: -10%;
    }
    100% {
        left: 75%;
    }
}
@-webkit-keyframes rotation1 {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}

.flying-price.bomb {
    height: 110px;
    background-image: url("https://media.giphy.com/media/ahza0v6s5pSxy/200w.gif");
}

.item-name {
    position: absolute;
    max-width: 260px;
    box-sizing: border-box;
    bottom: 30px;
    font-size: 20px;
    padding: 30px 35px;
    background: white;
    margin-bottom: 20px;
    border-radius: 12px;
    text-align: center;
    /*border: 2px solid #333;*/
    /*background: chartreuse;*/

}

.action-price {
    position: absolute;
    bottom: 40px;
    left: 20px;
    margin: 40px auto 20px;
    content: "";
    height: 170px;
    width: 170px;
    display: flex;
    visibility: hidden;
    justify-content: center;
}
.action-price.shown {
    visibility: visible;
}
.action-price img {
    max-height: 100%;
}

.hands {
    font-family: Myriad Pro, sans-serif;
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,19,61,0.5);
    max-height: 700px;
    z-index: 991;
    margin-top: 100vh;
    transition: background-color .1s, margin .7s;
    color: white;
}
.hands.shown {
    transition: background-color .7s, margin .7s;
    background-color: rgba(0,19,61,0.5);
    margin-top: 0;
}
.hands img {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 992;
}
.hands div {
    position: absolute;
    z-index: 993;
}
.hands .discount {
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 78px;
    font-weight: 800;
    transform: rotate(-10deg);
}
.hands .price {
    top: 49%;
    width: 100%;
    font-size: 48px;
    text-align: center;
    font-weight: bolder;
}
.hands .price::after {
    position: absolute;
    bottom: -20px;
    font-weight: 200;
    font-size: 17px;
    color: #ddd;
    left: 0;
    width: 100%;
    content: "НОВАЯ ЦЕНА";
}


